<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @user.stripe_token %>
</p>

<p>
  <strong>Stripe recipient token:</strong>
  <%= @user.stripe_recipient_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
