<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @user.stripe_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Cards', user_cards_path(@user) %> |
<%= link_to 'Bank Accounts', user_bank_accounts_path(@user) %> |
<%= link_to 'Back', users_path %>
