<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stripe token</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.user.name %></td>
        <td><%= card.stripe_token %></td>
        <td><%= card.description %></td>
        <td><%= link_to 'Show', user_card_path(@user, card) %></td>
        <td><%= link_to 'Edit', edit_user_card_path(@user, card) %></td>
        <td><%= link_to 'Destroy', user_card_path(@user, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_user_card_path(@user) %>
