<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @card.user.name, @card.user %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @card.stripe_token %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<%= link_to 'Edit', edit_user_card_path(@user, @card) %> |
<%= link_to 'Back', user_cards_path(@user, @card) %> |
<%= link_to 'Charge', new_user_card_charge_path(@user, @card) %>
