<p id="notice"><%= notice %></p>

<p>
  <strong>Bank account:</strong>
  <%= @transfer.bank_account %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @transfer.stripe_token %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transfer.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transfer.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transfer.status %>
</p>

<%= link_to 'Edit', edit_user_bank_account_transfer_path(@user, @bank_account, @transfer) %> |
<%= link_to 'Back', user_bank_account_transfers_path %> |
<%= link_to 'Cancel Transfer', user_bank_account_transfer_cancel_path(@user, @bank_account, @transfer), method: :post %>
