<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @charge.card %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @charge.stripe_token %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charge.description %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @charge.refunded %>
</p>

<%= link_to 'Edit', edit_user_card_charge_path(@card.user, @card, @charge) %> |
<%= link_to 'Back', user_card_charges_path(@card.user, @card) %> |
<%= link_to 'Refund', user_card_charge_refund_path(@card.user, @card, @charge), method: :post %>
